.pyg_index{
  .index_swiper{
    swiper{
      width: 100%; //最宽的宽度
      height: 320rpx; //图片的高度
      image{
        width: 100%;
      }
    }
  }

  .index_cates{
    display: flex;
    navigator{
      flex: 1;
      padding:20rpx;
      image{
        width: 100%;
      }
    }
  }
}